.App {
  text-align: center;
  background-color: #777;
}

.App-header {
  background-color: #444;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4em;
  padding: 3%;
}

.App-intro {
  font-size: large;
}

.container {
    background-color: #777;
    width: 100%;
}
.canvas-container {
    background-color: #EEE;
    width: 90%;
    margin: 5%;
    position: relative;
    padding: 3%;
}

.map-container {
  height: 700px;
}

.map {
  width: 500px;
  height: 1000px;
}

.logo {
  padding-bottom: 3%;
}
