.App {
  text-align: center;
  background-color: #777;
}

.App-header {
  background-color: #444;
  padding: 1%;
  color: white;
}

.App-title {
  font-size: 4em;
}

.App-intro {
  font-size: large;
}

.container {
    background-color: #777;
    width: 95%;
}
.canvas-container {
    background-color: #EEE;
    width: 90%;
    margin: 5%;
    position: relative;
    padding: 3%;
}

.map-container {
  height: 700px;
}

.logo {
  padding-bottom: 3%;
}
